#sections {
    position: relative;
    display: inline-block;
    width: 250px;
    top: 0px;
    z-index: 90;
    margin-right: 120px;
    border-right: 10px  inset  gray;
  }
  
  .step {
    margin-bottom: 200px;
  }
  
  #vis {
    display: inline-block;
    position: fixed;
    top: 60px;
    z-index: 1;
    margin-left: 0;
  
    height: 800px;
    width: 800px;
  }